<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context-4.0.xsd
                            http://www.springframework.org/schema/mvc
                            http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
                            http://www.springframework.org/schema/tx
                            http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
                            http://www.springframework.org/schema/aop
                            http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">


	<!--使用自动注入的时候要 添加他来扫描bean之后才能在使用的时候 -->
	<context:component-scan base-package="com.wyp.module.service,com.wyp.module.cache" />

	<!-- 文件上传相关配置 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8" />
		<property name="maxUploadSize" value="1000000000" />
		<property name="maxInMemorySize" value="40960" />
	</bean>

	<bean id="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="registerDefaultFormatters" value="false" />
		<property name="formatters">
			<set>
				<bean
					class="org.springframework.format.number.NumberFormatAnnotationFormatterFactory" />
			</set>
		</property>
		<property name="formatterRegistrars">
			<set>
				<bean
					class="org.springframework.format.datetime.joda.JodaTimeFormatterRegistrar">
					<property name="dateFormatter">
						<bean
							class="org.springframework.format.datetime.joda.DateTimeFormatterFactoryBean">
							<property name="pattern" value="yyyyMMdd" />
						</bean>
					</property>
				</bean>
			</set>
		</property>
	</bean>

	<!-- 自定義bean处理，在bean实例初始化前后做一些事情 -->
	<bean id="beanPostProcessor" class="com.wyp.module.common.MyBeanPostProcessor" />

	<!-- 自定義bean工厂处理,在bean实例初始化前执行 -->
	<bean id="beanFactoryPostProcessor" class="com.wyp.module.common.MyBeanFactoryPostProcessor" />

	<!-- PostConstruct,PreDestroy -->
	<bean class="com.wyp.module.common.PostConstructAndPreDestroy"
		init-method="init" destroy-method="destroy" />

</beans>